In [2]:
import pandas as pd 
dataset=pd.read_csv("https://cocl.us/datascience_survey_data")
dataset.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136

In [3]:
sortedData=dataset.sort_values(by='Very interested', ascending=False)
sortedData.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
1,Data Analysis / Statistics,1688,444,60
5,Machine Learning,1629,477,74
3,Data Visualization,1340,734,102
0,Big Data (Spark / Hadoop),1332,729,127
4,Deep Learning,1263,770,136

In [4]:
#Convert the numbers into percentages

sortedData['Very interested']= (100*sortedData['Very interested']/2233.0).round(2)
sortedData['Somewhat interested']= (100*sortedData['Somewhat interested'] /2233.0).round(2)
sortedData['Not interested']= (100*sortedData['Not interested'] /2233.0).round(2)
sortedData.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
1,Data Analysis / Statistics,75.59,19.88,2.69
5,Machine Learning,72.95,21.36,3.31
3,Data Visualization,60.01,32.87,4.57
0,Big Data (Spark / Hadoop),59.65,32.65,5.69
4,Deep Learning,56.56,34.48,6.09

In [5]:
import matplotlib.pyplot as plt

pl=sortedData.plot(kind='bar', figsize=(20, 8) , width=0.8, color=['#5cb85c','#5bc0de','#d9534f'] ,fontsize=14)
pl.set_xticklabels(sortedData["Unnamed: 0"] ,fontsize=14)
#remove the left, top, and right borders
pl.spines['right'].set_visible(False)
pl.spines['left'].set_visible(False)
pl.spines['top'].set_visible(False)
#remove the y axe
plt.yticks([])
#display the percentages above the bars
for i in pl.patches:
    pl.text(i.get_x(), i.get_height()+3, str(i.get_height())+'%', fontsize=14)
#add title    
plt.title('percentage of the respondents interest in Data Science areas', fontsize=16)
plt.show()